.idea/
*.log
*.log.*
*.pyc
.cache
*.pkl
venv/
cert/
local_test/
__pycache__/
.pytest_cache/
.DS_Store
*.mp4
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/frontend/.pnp
.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# for people who uses asdf to manage node versions
.tool-versions

# editor related stuff
.vscode
